# Desactivar caché para HTML, CSS, JS
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/html "now"
  ExpiresByType text/css "now"
  ExpiresByType application/javascript "now"
  ExpiresByType application/json "now"
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
  Header set Expires "0"
</IfModule>